<html>
    <head>
        <title>Chat</title>
        <style>
            input { display: block; }
            ul { list-style: none; }
        </style>
    </head>
    <body>
        <ul id="messages"></ul>
        <form id="chatbox">
            <textarea></textarea>
            <input type="submit" value="send">
        </form>
        <script
            src="https://code.jquery.com/jquery-3.5.1.min.js"
            integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
            crossorigin="anonymous"></script>
        <script>
            $(function(){
                var socket = null;
                const msgBox = $('#chatbox textarea');
                const messages = $('#messages')
                $('#chatbox').submit(function(){
                    if(!msgBox.val()) return false;
                    if(!socket){
                        alert("Error: There is no socket connection.");
                        return false;
                    }
                    socket.send(msgBox.val());
                    msgBox.val("");
                    return false;
                });
                if (!window["WebSocket"]) {
                    alert("Error: Your browser does not support web sockets.")
                } else {
                    socket = new WebSocket("ws://{{ .Host }}/room");
                    socket.onclose = function() {
                        alert("Connection has been closed.");
                    }
                    socket.onmessage = function(e) {
                        messages.append($("<li>").text(e.data));
                    }
                }
            });
        </script>
    </body>
</html>
